.app-header {
    font-family: "DotGothic16", serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    z-index: 2;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-box {
    border: 2px solid #00B4CC;
    border-radius: 3px;
    outline: none;
    padding: 4px 4px;
    font-weight: 700;
    margin-right: 1rem;
}